
body{
	margin: 5px;
	padding: 5px;
}

.divs.contenedor{
	width: 380px;
	height: 139px;
	padding: 0 7px;
}

.divs{
	width: 100px;
	height: 100px;
	margin: 19px 10px;
	border: 2px black solid;
	background-color: #F3A586;
}

.divs.inside{
	display: inline-block;
}

.divs.inline{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}