
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#div1, #div3{
	background-color: yellow;
	padding: 0.5% 0.5% 3% 0.5%;
}

#div2{
	background-color: fuchsia;
	padding: 0.5% 0.5% 3% 0.5%;
	margin: 20px 5px 20px 5px;
}

.divs{
	display: inline-block;
	width: 11%;
}

